.canvas
{
    display: block;
    border: 3px red solid;
    background: black;
    margin-bottom: 20px;
}

input
{
    font-size: 20px;
    display: block;
    width: 920px;
}

.text
{
    font-size: 20px;
    color: white;
}

.button
{
    display: block;
    font-size: 20px;
    font-family: monospace;
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
}

.process-button
{
    user-select:none;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    color: white;
    display: inline-block;
    padding: 1em 3em;
    border: 3px solid #4A90E2;
    transition: all 300ms ease;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.2);
}

.process-button:before
{
    position: absolute;
    content: '';
    width: 0;
    height: 100%;
    background: white;
    top: 0;
    left: auto;
    right: 0;
    z-index: -1;
    transition: all 300ms ease;
}

.process-button:hover
{
    color: black;
    box-shadow: none;
}

.process-button:hover:before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

.message-list
{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 200px;
}

.message-list__message
{
    margin: 10px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: black;
    border: 2px solid red;
    color: white;
}

.buttons_list
{
    display: flex;
}